/* Nome do projeto: Meu Portfolio */
/* Autor: Vinicius Araujo */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrant:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.header{
    padding: 2% 0% 0% 15%;
}

.nav{
    display: flex;
    gap: 80px;
}

.menus{
    font-family: 'Monstserrant', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #e33735;
    text-decoration: none;
}

.title{
    color: #e33735;
}

.container-main{
    padding: 5% 15%;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.container-main-text{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-Titulo{
    font-size: 36px;
    font-family: 'krona one', sans-serif;
}

.container-conteudo a{
    text-decoration: none;
    color:#e33735;
}

.container-conteudo{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.subtitulo-botoes{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.button-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;
    gap: 32px;

}

.button-links-link{
    display: flex;
    justify-content: center;
    gap: 16px;
    color: #f6f6f6;
    border: 2px solid #e33735;
    width: 378px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
}

.button-links-link:hover{
    background-color: #272727;
}

.img{
    width: 650px;
    height: 650px;
    border-radius: 0%;
}

.footer{
    background-color: #e33735;
    padding: 24px 0;
}

.footer-text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}